body {
    background-color: #FFFDD0;
    font-family: "Viking", "Trajan Pro", "Sylfaen", sans-serif;
}

.site-head {
    display: flex;
    margin: 1% auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-logo {
    width: 150px;
    height: auto;
}

.site-name {
    font-weight: 700;
}

.site-content {
    padding: 0% 10%;
    margin: 2%;
}

.section-header{
    color: #3B2A2A;
}

.recipe-container {
    display: flex;
    width: 90%;
    margin: 4% auto;
    justify-content: center;
}

.recipe-entry {
    background-color: #d5f0c0;
    padding: 1%;
    border-radius: 7%;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}

.recipe-image {
    display: block;
    width: 150px;
    height: 200px;
}

.recipe-entry a {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    color: saddlebrown;
    text-decoration: none;
    font-size: xx-large;
}

.recipe-entry:hover {
    background-color: #a9d7e9;
    transform: scale(1.2);
    transition: 0.3s;
}

.recipe-entry:hover a {
    color: #be6400;
}