.site-head {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-logo {
    width: 150px;
    height: auto;
}

.text {
    font-family: "Viking", "Trajan Pro", "Sylfaen", sans-serif;
}

.site-name {
    font-weight: 700;
}