body {
    background-color: #FFFDD0;
    font-family: "Viking", "Trajan Pro", "Sylfaen", sans-serif;
}

.site-head {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-logo {
    width: 150px;
    height: auto;
}

.site-name {
    font-weight: 700;
}

.section-header{
    color: #3B2A2A;
}